.App {
  text-align: left;
  color: black;
  font-size: 18px;
  padding-left: 230px;
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #7FDBFF; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#currentUser{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color:white;
}

#logIn, #logOut{
  color:grey;
  font-size: 25px;
}

#logIn:hover, #logOut:hover{
  background-color: #f44336;
  color: white;
  font-size:25px;
}

.userButtons{
  position:fixed;
  display: inline;
  right: 0%;
  background-color: black;
  color: white;
  text-align: center;
}

#message_content {
	position:relative;
	background: #00aabb;
	border-radius: .4em;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #A8DDFD;
  font: 400 .9em cursive, sans-serif;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  top:36px;
}

#send{
  position:absolute;
    transition: .5s ease;
    top: 20%;
    right: 33.5%;
}

#creating_message{
bottom:10px;
position: fixed;
text-align: center;
width:90%;
height:5%;
outline:none;
resize: none;
border:none;
}

.header {
  text-decoration-style: wavy;
  color: red;
  font-size: 24px;
  text-align: center;
}

.list_of_room_names{
  width: 130px;
  list-style-type: none;
}

#Room-Names{
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 2px;
  margin-left: -22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

input {
  margin-left:-22px;
}

#Delete-Button:hover {
  color:white;
  background-color: red;
}

#Room-Names:hover{
  background-color: blue; /* Green */
  color: white;
}

.messages{
  height: 713px; /* Full-height: remove this if you want "auto" height */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 100px;
  background-color: #C2FCE0; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
